<div class="container-fluid">
  <h1><i class="bi bi-plus-circle"></i> Novo Lead</h1>
  <div class="card mt-3">
    <div class="card-body">
      <%= render 'form', lead: @lead %>
    </div>
  </div>
</div>
