<div class="container">
  <div class="row mb-4">
    <div class="col">
      <h1><i class="bi bi-pencil"></i> Editar Cliente</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to 'Painel', root_path %></li>
          <li class="breadcrumb-item"><%= link_to 'Clientes', customers_path %></li>
          <li class="breadcrumb-item"><%= link_to @customer.name, @customer %></li>
          <li class="breadcrumb-item active">Editar</li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <%= render 'form', customer: @customer %>
    </div>
  </div>
</div>
