<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <div class="card">
        <div class="card-header">
          <h4 class="mb-0">Editar Comunicação</h4>
        </div>
        <div class="card-body">
          <%= render 'form', communicable: @communicable, communication: @communication %>
        </div>
      </div>
    </div>
  </div>
</div>
